<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Successful</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
    <h2>Login Successful</h2>
    <p>Welcome, User ID: <%= session[:user_id] %>!</p>

    <% if session[:role] == "Admin" %>
      <p>You are logged in as an Admin.</p>
    <% else %>
      <p>You are logged in as an Employee.</p>
    <% end %>

    <a href="<%= root_path %>">Go Home</a>
</body>
</html>
